.arc {
    fill: none;
    stroke: red;
    opacity: 60%;
}

.hide {
    display: none;
}

.map {
    position: relative;
}

.internal-connection {
    fill: none;
    stroke: #9C528B;
    stroke-linejoin: round;
}

text {
    color: antiquewhite;
    font-size: 1vw;
}