.arc {
    fill: none;
    stroke: red;
    stroke-width: 1px;
    stroke-linecap: round;
}

.map {
    position: relative;
}

.internal-connection {
    fill: none;
    stroke: #9C528B;
    stroke-linejoin: round;
}

text {
    color: antiquewhite;
    font-size: 1vw;
}