body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#map {
    position: absolute;
    top: 20;
    left: 20;
    bottom: 0;
    width: 98%;
    height: 98%
}

#some_seconds {
    font-size: 22px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 100%;
    align-items: center;
}